div {
  margin-top: 20px;
}

#createFolder,
#createSpreadsheet,
#createShoppingList {
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  display: none;
  margin-top: 20px;
}

td,
th {
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

thead {
  background-color: darkslategrey;
  color: white;
}

caption {
  font-size: xx-large;
}
